table {
    border: solid 2px white;
}

th, td {
    padding: 6px;
}

.head-one {
    background-color: rgb(176, 134, 218);
    color: white;
    border: white;
}
  
.table-body-one{
    background-color: rgb(82, 89, 102);
    color: white;

}


/* table 2 */

.head-two {
  background-color: rgb(110, 155, 240);
  color: white;
  border: white;
}

.table-body-two{
    background-color: rgb(82, 89, 102);
    color: white;
}